includes:
    - vendor/bitexpert/phpstan-magento/extension.neon # Include the Magento extension config

parameters:
    level: 5 # Start with a lower level (e.g., 5) and increase gradually
    paths:
        - app/code # Analyze your custom modules
	excludePaths:
		- app/code/Magedelight/*
